@media (prefers-color-scheme: light) {
	:root {
		--main-lum: 100%;
		--search-bg-lum: 100%;
		--search-input-bg-lum: 100%;
		--bg-lum: 85%;
		--text-lum: 0%;
		--result-item-hover-lum: 90%;
		--button-lum: 80%;
		--button-hover-lum: 60%;
		--button-text-lum: 0%;
		--button-text-disabled-lum: 20%;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-lum: 10%;
		--search-bg-lum: 25%;
		--search-input-bg-lum: 20%;
		--bg-lum: 25%;
		--text-lum: 80%;
		--result-item-hover-lum: 15%;
		--button-lum: 25%;
		--button-hover-lum: 45%;
		--button-text-lum: 90%;
		--button-text-disabled-lum: 70%;
	}
}
