body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 75%;
	background-color: hsl(0, 0%, var(--bg-lum));
	color: hsl(0, 0%, var(--text-lum));
}

#content {
	background-color: hsl(0, 0%, var(--main-lum));
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 20px;
	box-shadow: 0 0 10px 0 #0000003B;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#options-list .option-item label {
	font-size: 1.5em;
	padding-left: 10px;
	cursor: pointer;
}

#options-list .option-item input[type="checkbox"] {
	cursor: pointer;
}

#title {
	background-image: url("../icons/48.png");
	background-repeat: no-repeat;
	background-size: 48px;
	padding-left: 58px;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	font-weight: 300;
	font-size: 3em;
	margin-top: 0;
}

.btn {
	border: none;
	border-radius: 12px;
	padding: 10px;
	background-color: hsl(0, 0%, var(--button-lum));
	color: hsl(0, 0%, var(--button-text-lum));
	transition: background-color 0.1s ease-out;
}

.btn:hover:enabled {
	background-color: hsl(0, 0%, var(--button-hover-lum));
}

.btn:disabled {
	color: hsl(0, 0%, var(--button-text-disabled-lum));
}

.category-heading {
	margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
	body {
		background-color: hsl(0, 0%, var(--main-lum));
	}
	#content {
		margin-left: 10px;
		margin-right: 10px;
		max-width: 100%;
		width: auto;
		padding: 20px;
		box-shadow: 0 0 0 0 #0000003B;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	#title {
		font-size: 2em;
	}
}
